*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 960px;
	height: 610px;
	overflow: hidden;
	background: white;
	position: absolute;
	top: 52%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
}

#header {
	width:100%;
	background: black;
	color:white;
	left:0px;
	text-align:left;
	font-family:"Courier New", Courier, monospace;
}

#footer {
	width: 100%;
	position: absolute;
	right:0px;
	bottom: 0;
	background: black;
	color:white;
	text-align: right;
	font-family: "Courier New", Courier, monospace;
}

#grid { font-size: 0; line-height: 0; }

.grid-square {
	display: inline-block;
	width: 64px;
	height: 64px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}


#taxi{	
position:absolute;
top:25px;
left:0px;

}

#house{
	position:fixed;
bottom:20px;
right:8px;

}

.timer{
	position:absolute;
	background-color:black;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:white;
	top:20px;
	right:10px;
	width:90px;
	height:30px;
	border:5px solid black;
	margin:2px;
	text-align: center;

}

.degree{
	position:absolute;
	background-color:black;
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	color:white;
	top:80px;
	left:10px;
	width:90px;
	height:30px;
	border:5px solid black;
	margin:2px;
	text-align: center;
	font-weight:100;

}

.time{
	font-family: "Courier New", Courier, monospace;
	font-size:10px;
	position:absolute;
	top:20px;
	left:0px;
}



.pathgreen {
	background-color:#D0D0D0;
	display: inline-block;
	width: 64px;
	height: 64px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.pathred{
	background-color:#FFCCCC;

}

.planetag{
	display:inline-block;
	position:relative;
	top:105px;
	left:100%;}



.weather_image{

	top:-90px;
	left:-20px;
	position:absolute;
	-webkit-animation:CLOUD 30s infinite;


}
@-webkit-keyframes CLOUD {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes CLOUD {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes CLOUD {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes CLOUD {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*.sun{
	top:-85px;
	left:0px;
	position:absolute;
	-webkit-animation:SUN 20s infinite;

}
@-webkit-keyframes SUN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes SUN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes SUN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes SUN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

*/

.alertstart{
	position:absolute;
	top:250px;
	left:32%;
	width:500px;
	height:40px;
	font-family: "Courier New", Courier, monospace;
	color:black;
	font-size: 65px;
	text-align: center;

	animation:myfirst 2s infinite;
	-webkit-animation:myfirst 2s infinite;
	 /* Chrome, Safari, Opera */
	
}
	/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
0%   {color:#0000B2;}
25%  {color:#0000FF;}
50%  {color:#85A3FF;}
100% {color:#0000B2;}
}

/* Standard syntax */
@keyframes myfirst
{
0%   {color:#0000B2;}
25%  {color:#0000FF;}
50%  {color:#85A3FF;}
100% {color:#0000B2;}
}

.alert1{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:166px;
	left:560px;
	text-align: center;
	font-family:"Courier New", Courier, monospace; 
	animation:alert 2s infinite;
	-webkit-animation:alert 2s infinite;
	 /* Chrome, Safari, Opera */

}

	/* Chrome, Safari, Opera */
@-webkit-keyframes alert
{
0%   {color:#00FF00;}
25%  {color:#FF0000;}
50%  {color:#3333FF;}
100% {color:#FFFF00;}
}

/* Standard syntax */
@keyframes alert
{
0%   {color:#00FF00;}
25%  {color:#FF0000;}
50%  {color:#3333FF;}
100% {color:#FFFF00;}
}

.alert2{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;

}

.alert3{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;

}

.alert4{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;

}

.alert5{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;

}

.alert6{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;

}

.alert7{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;

}

.alert8{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;

}

.alert9{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert10{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert11{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert12{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert13{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert14{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert15{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert16{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert17{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert18{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert19{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert20{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert21{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert22{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert23{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;
	
}

.alert24{
	background-color: black;
	color:white;
	font-size: 17px;
	padding:20px;
	width:192px;
	height:128px;
	position:absolute;
	top:162px;
	left:568px;
	font-family:"Courier New", Courier, monospace;

}