<br>
<div class="wrap">
<div class="account">


<form method="post" action="/account" >
<label>Adiniz: </label>
	<input type="text" name="name">
	<br>
	<label>Soyadiniz: </label>
	<input type="text" name="lname">
	<br>
	<label>Telefon: </label>
	<input type="number" name="phone">
	<br>
	<label>Adres: </label>
	<textarea></textarea>
	<br>
	<label>Email: </label>
	<input type="email" name="email">
	<br>
	<label>Password: </label>
	<input type="password" name="password">
	<br>
	<input type="submit" value="create" name="create">
</form>
</div>
</div>