<img src="../images/book.jpg" id="img1">

<div class="home">
	<h4>Fotograflariniz telefonunuzda kalmasin. Sadece 9.90'a evinize gonderelim.</h4>
	


<div class="box">
	<h5>Aylik Uyelik</h5>
</div>
<div class="box">
	<h5>Tek Seferlik</h5>
</div>
<br>
<br>


<a href="/account">Create An Account</a>
<a href="/login">Login</a>
</div>
