<!DOCTYPE html>
<html>
  <head>
    <title>FlashBack</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <div class="home">
		<h1>FlashBack</h1>
	  </div>
    {{{body}}}
  </body>
</html>
