<br>
<div class="wrap">
<div class="account">

<form method="post" action="/login" >
	<label>Email: </label>
	<input type="email" name="email">
	<br>
	<label>Sifre: </label>
	<input type="password" name="password">
	<br>
	<input type="submit" value="login" name="login">
</form>
</div>
</div>